<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>NOTETAB</title>
</head>
<body>
<h1>Notes</h1>
<br>
<h2>Create Notes</h2>
<p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda debitis deserunt dolore veritatis voluptatem. Sed, sint totam. At consequuntur dolorem eligendi error illo, inventore iste placeat sed, sit totam vel.</span><span>Accusantium architecto at aut beatae corporis deleniti deserunt dolore, ducimus eligendi esse facere illo illum ipsa ipsum labore minus natus pariatur quo quos reprehenderit sunt vel veniam vero voluptatem voluptatum.</span><span>Aliquid eaque iste nihil reiciendis similique. Consequatur dolor expedita iusto maiores minus mollitia odit porro praesentium provident quas quia quod reiciendis, rerum sit voluptatibus. Ducimus ex hic nemo possimus ratione!</span></p>




</body>
</html>